@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Special+Elite&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #8dbdba;
}
.wrapper {
  position: relative;
  width: 200vw;
  height: 95vh;
  overflow-x: hidden;
}
.container1,
.container2 {
  position: absolute;
  width: 50%;
  height: 100%;
}

.container2 {
  // background-color: #8675ba;
  left: 100vw;
}
h2 {
  position: absolute;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 64px;
  color: #f5f5f5;
  padding: 100px;
  line-height: 60px;
  z-index: 5;
}

.text-block {
  z-index: 6;
  color: #f5f5f5;
  font-family: Montserrat;
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 20px 60px 56px 20px;
  position: absolute;
  left: 100px;
  bottom: 100px;
  background: linear-gradient(0deg, rgba(0, 37, 23, 0.3), rgba(0, 37, 23, 0.3));
  // url('../assets/images/glass.jpg');
  background-blend-mode: normal, multiply;
  border: 0.5px solid rgba(64, 89, 80, 0.5);
  box-shadow: inset 0.860527px 0.860527px 0.860527px rgba(53, 74, 66, 0.2);
  backdrop-filter: blur(30px);

  h3 {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    width: 588px;
  }
  & > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    width: 530px;
  }
}
.button-wrapper {
  display: flex;
  gap: 16px;
  button {
    width: 48px;
    height: 48px;
    background: transparent;
    border: #f5f5f5 1px solid;
    cursor: pointer;
    background-size: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      border: rgb(245, 245, 245, 0.5) 1px solid;
    }
  }
  .left {
    background-image: url('../assets/images/left-arrow.svg');
  }
  .right {
    background-image: url('../assets/images/right-arrow.svg');
  }
}
.ribbon {
  display: flex;
  background: rgba(0, 37, 23, 0.2);
  border: 0.5px solid rgba(226, 226, 226, 0.5);
}
.border {
  width: 0.5px;
  background-color: rgba(226, 226, 226, 0.5);
}
.ribbon-item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
}

.wallpaper {
  width: 70.6vw;
  height: 65.45vh;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.wallpaper1 {
  background-image: url('../assets/images/Group2.png');
  left: 337px;
  top: 138px;
}
.wallpaper2 {
  background-image: url('../assets/images/Group1.png');
  right: 82px;
  top: 153px;
}
.ellipse {
  width: 587px;
  height: 14px;
  position: absolute;
  left: 349px;
  top: 746px;
  clip-path: ellipse();
  background: #000000;
  filter: blur(100px);
}
.bubble {
  position: absolute;
  border-radius: 50%;
  backdrop-filter: blur(60px);
  transform: rotate(-20.99deg);
  background-blend-mode: normal, normal, normal, multiply;
  box-shadow: 8px 24px 60px rgba(21, 53, 30, 0.1),
    inset 2.29395px 2.29395px 2.29395px rgba(73, 100, 87, 0.05);
  background: linear-gradient(
      131.29deg,
      rgba(225, 255, 244, 0.3) 1.1%,
      rgba(20, 54, 41, 0) 108.32%
    ),
    radial-gradient(
      32.42% 32.42% at 46.83% 18.92%,
      rgba(255, 255, 255, 0.147) 0%,
      rgba(100, 117, 110, 0) 100%
    ),
    linear-gradient(0deg, rgba(68, 104, 90, 0.44), rgba(68, 104, 90, 0.44));
  background-blend-mode: normal, normal, normal, multiply;
}
.bubble1 {
  width: 282px;
  height: 282px;
  top: -3px;
  left: 264px;
  z-index: 2;
}
.bubble2 {
  width: 330px;
  height: 330px;
  right: 3px;
  bottom: -30px;
  z-index: -3;
}
.bubble3 {
  width: 222px;
  height: 222px;
  left: 30px;
  bottom: 5px;
  z-index: -1;
}
.bubble4 {
  width: 331px;
  height: 331px;
  top: -150px;
  left: -120px;
  z-index: 2;
  display: none;
}
.bubble5 {
  width: 316px;
  height: 316px;
  right: 3px;
  bottom: 6px;
  z-index: 2;
}
.bubble6 {
  width: 192px;
  height: 192px;
  left: calc(50% - 96px);
  top: 10px;
  z-index: 2;
}
